.app {
  background-color: #1493ff;
  text-align: center;
  height: 900px;
}

.header {
  color: #fff;
  padding-top: 40px;
}

.header--headline {
  margin: 0;
}

@media (max-width: 700px) {
  .app {
    height: 1400px;
  }
}
